html{
    position: fixed;
    overflow: hidden;
}
body, html {
  height: 100%;
  position: absolute;
}
body{
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
}
.wrap-content,.wrap-chat-area{
    height: 100%;
}
.wrap-content{
    width: 90%;
    margin: 0 auto;
}
#chat-content-wrap{
    position: relative;
    overflow: hidden;
    height: calc(100% - 122px);
}

#chat-content-wrap ul{
    list-style: none;
    padding: 0px;
    height: 100%;
    overflow: scroll;
    position: absolute;
    width: 100%;
}
.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: 0.2em;
}
#chat-content-wrap ul li{
    padding: 5px 10px;
    border-radius: 40px;
}

#wrap-input-chat{
    background-color: #fff;
    /*overflow: hidden;*/
}
.wrap-input-text{
    width: 90%;
    float: left;
}
#findFriendDialogClose{
    float: right;
}
#mediaCapture{
    display: none;
}
.wrap-input-text > .mdl-textfield{
    width: 100%;
}
.wrap-sendBtn{
    width: 10%;
    padding: 20px 0px;
    float: left;
}
#sendBtn{
    min-height: 44px;
    width: 100%;
    min-width: auto;
}
#chat-content-wrap ul li p{
    padding: 10px;
    border-radius: 30px;
    /*min-width: 30px;*/
}
#searchBtn .fa{
    font-size: 20px;
}
#searchBtn span{
    font-size: 13px;
}
#friend-info-wrap{
    display: none;
}
#chat-content-wrap ul .me{
    text-align: right;
}
#chat-content-wrap ul .me > p{
    background: #1cba48;
    color: #fff;
    display: inline-block;
}
#chat-content-wrap ul .image-mess > p{

    color: #fff;
    display: inline-block;
}
#chat-content-wrap ul .join{
    text-align: center;
}
#chat-content-wrap ul .join > p{
    background: #2196F3;
    color: #fff;
    display: inline-block;
}

#chat-content-wrap ul .out{
    text-align: center;
}
#chat-content-wrap ul .out > p{
    background: red;
    color: #fff;
    display: inline-block;
}

#chat-content-wrap ul .you{
    text-align: left;
    
}
#chat-content-wrap ul .you > p{
    background: #e5e5ea;
    color: #323233;
    display: inline-block;
}

#chat-input{
    resize: none;
    min-height: 35px;
}
#exitBtn{
    font-size: 30px;
    display: none;
}
.btn{
    cursor: pointer;
    color: #fff;
}
.chat-avatar{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
#topBar{
    background-color: #2196F3;
    color: #fff;
}
#topBar td{
    width: 33.333333%;
}

#loginDialog button{
    margin: 10px 0px;
    width: 100%;
}
#friendInfoDialog .mdl-dialog__content{
    text-align: center;
}
#friendInfoDialog_avatar{
    width: 150px;
}
#friendInfoDialog_sex{
    font-size: 30px;
}
#friend-avatar{
    width: 25px;
    height: 25px;
}
#friend-name{
    padding: 0px;
    margin: 0px;
    font-size: 10px;

}
#findFriendDialog .mdl-dialog__content{
    text-align: center;
}
#findFriendDialog .mdl-dialog__content .sex-select .fa{
    font-size: 25px;
    color: #2196F3;
}
#findFriendDialog .mdl-dialog__content .sex-select{
    margin-bottom: 20px;
}

#loadingDialog{
    text-align: center;
    background: transparent;
    color: transparent;
}
#chat-content-render{
    margin-bottom: 0px; 
    top: 0px;
    bottom: 0px;
    
}
#listEmoji{
    clear: both;
    padding: 0px;
    margin: 0px;
}
#listEmoji li{
    display: inline-block;
    padding: 8px;
}
.wrap-input-text{
    position: relative;
}
#emojiBtn{
    position: absolute;
    top: 24px;
    color: #ccc;
    right: 5px;
}
@media screen and (max-width: 480px) {
    .wrap-input-text{
        width: 80%;
    }
    .wrap-sendBtn{
        width: 20%;
    }
}

@media screen and (max-height : 568px){
    #listEmoji{
        height: 150px;
        overflow: scroll;
    }
}
@media screen and (max-height : 320px){
    #listEmoji{
        height: 100px;
        overflow: scroll;
    }
}